#saveButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type=submit] {
    background-color: rgb(216, 50, 0);
    border: 3px red solid;
    border-radius: 30% 14px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-animation-name: redPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes redPulse {
    from { background-color: #9a2002; -webkit-box-shadow: 0 0 9px rgb(255, 0, 0); }
    50% { background-color: #bd0f09; -webkit-box-shadow: 0 0 18px #bd0909; }
    to { background-color: #9a2002; -webkit-box-shadow: 0 0 9px rgb(255, 0, 0); }
}
